@charset "ISO-8859-1";


h1 {
  font-size:2em; 
  font-weight: 300;
  font-family: "Arial Black", Gadget, sans-serif;
  line-height:1em;
  text-align: center;
  color: #4DC3FA;
}

h2 {
  font-size:1em; 
  font-weight: 300;
  text-align: center;
  display: block;
  line-height:1em;
  padding-bottom: 2em;
  color: #FB667A;
}

.yellow { color: #FFF842; }
.dropbtn {
  background-color: white;
  color: #000000;
  
  padding: 10px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
  left: 30px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #c2cbd6;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black ;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 1.42em;
  color:#8080ff;
  background-color:#1F2739;
}
 

.dropdown-content a:hover {background-color: #e8e4c4;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #8080ff;}